<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2>Nova Conta</h2>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" type="text" class="form-control" placeholder="Digite o nome da conta" formControlName="nome">
  </div>
  <div class="form-group">
    <label for="valorOriginal">Valor Original</label>
    <input id="valorOriginal" type="number" class="form-control" placeholder="Digite o valor original da conta"
      formControlName="valorOriginal">
  </div>
  <div class="form-group">
    <label for="dataVencimento">Data de Vencimento</label>
    <input id="dataVencimento" type="date" class="form-control" placeholder="Digite a data de vencimento da conta"
      formControlName="dataVencimento">
  </div>
  <div class="form-group">
    <label for="dataPagamento">Data de Pagamento</label>
    <input id="dataPagamento" type="date" class="form-control" placeholder="Digite a data de pagamento da conta"
      formControlName="dataPagamento">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Adicionar</button>
</form>